<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
 <link rel="stylesheet" href="../static/start.css">
    <title>News Wala-Mr Anshu singh</title>
  </head>
  <body>
      <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark  bg-dark">
        <div class="container">
            
          <a class="navbar-brand" href="/"><i class="fab fa-neos"></i> News wala</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Top HeadLines</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Business">Business</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sports">Sports</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Entertainment">Entertainment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/health">Health</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="world">Tech</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  More
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/video">Video</a></li>
                  <li><a class="dropdown-item" href="/cricket">Cricket</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/contact">Contact Us</a></li>
                </ul>
              </li>
              
            </ul>
            
          </div>
        </div>
      </nav>
       <!-- my Part -->
      
      

       <div class="container">
           <div class="row">
               <div class="col-lg-6 col-10 mx-auto " id="heading" >
                   <h1>News Wala</h1>
                   <!-- <figure class="myCrowd1">
                    <img src="../static/klipartz.com (1).png" alt="" srcset="">
                </figure> -->
                <div class="discription">Newspapers provide information and general knowledge. Newspapers provide news about a country's economic situation, sports, games, entertainment, trade and commerce. Reading newspaper makes a good habit and it is already part of the modern life. This habit will widen your outlook and will enrich your knowledge.</div>
                <div class="header_text__btn" id="button">
                    <a href="/home">lets Start</a>
                </div>
                
                
               </div>
               <div class="col-lg-6 col-10 mx-auto">
                   <figure class="myCrowd">
                       <img src="../static/klipartz.com.png" alt="" srcset="">
                   </figure>
                   
               </div>
           </div>
       </div>
       <footer class="footer">&copy;2021-22  NewsWala.com
           <div>Follow Me on instagram <a href="http://">Click here</a> </div>
       </footer>
    

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    
  </body>
</html>